body {
    height: 1650px;
    background: #2B2A4C;
  }

  .santa {
    position: absolute;
  }
  .santa {
    background: url("output-onlinegiftools.gif");
    max-width: 100%;
    width: 400px;
    height: 150px;
    background-repeat: no-repeat;
  }

  @media (max-width: 900px) {
    .santa {
      display: inline;
      background: url("ezgif.com-resize.gif");
      width: 300px;
    }
  }
  
 